 .u-section-1 {
  background-image: url("images/d.jpg");
  background-position: 50% 50%;
  min-height: 827px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 827px;
  background-image: url("images/PhakNiSodder.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 51px 14px 65px 18px;
}

.u-section-1 .u-image-2 {
  min-height: 827px;
  background-image: url("images/PhakIMG.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 1px 0 0;
}

.u-section-1 .u-form-1 {
  height: 360px;
  margin: 41px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#69eefb, #98f781);
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-1 .u-social-icons-1 {
  height: 63px;
  min-height: 16px;
  width: 210px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 63px;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 537px;
  }

  .u-section-1 .u-image-1 {
    min-height: 682px;
  }

  .u-section-1 .u-image-2 {
    min-height: 682px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    min-height: NaNpx;
    background-position: 74.06% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-image-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    order: 0;
    min-height: 839px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    min-height: 502px;
  }

  .u-section-1 .u-image-2 {
    min-height: 528px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px 40px;
  }
}